.deps/
.libs/
autom4te.cache/

libtool
stamp-h1
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
Makefile
Makefile.in
aclocal.m4
install-sh
ltmain.sh
missing
depcomp

gatekeeper-*.tar.*
gatekeeper-*/

*~
*.o
*.lo
*.la
*.so.*
test_*
so.map
tags
